.arrow-accordion {
  cursor: pointer;
  position: relative;
  top: 10px;
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border-right: 0.2em solid white;
  border-top: 0.2em solid white;
  margin-right: 0.5em;
  margin-left: 1em;
  //transition de rotation
  transition: transform 0.3s ease-in-out;
  &.up {
    transform: rotate(-45deg);
  }
  &.down {
    transform: rotate(-225deg);
    margin-top: -0.5em;
  }
}

.accordion-title {
  border-radius: 5px;
  background-color: #ff6060;
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%; /* 25.668px */
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  padding: 10px 15px;
}

.accordion-content {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  background: var(--Gray, #f6f6f6);
  color: #ff6060;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 142.6%; /* 25.668px */
  overflow: hidden;
  text-align: left;
  padding-left: 1vw;
  padding-right: 1vw;
}

.active .accordion-content {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.main-about {
  & .accordions {
    margin-left: 250px;
    margin-right: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

@media (max-width: 768px) {
  .main-about .accordions {
    margin-left: 0vw;
    margin-right: 0vw;
    margin-top: 0px;
  }
  .accordion {
    width: 100%;
  }

  .accordion-content {
    padding-left: 6vw;
    padding-right: 6vw;
  }

  .active .accordion-content {
    padding-top: 4vw;
    padding-bottom: 4vw;
  }
}
