.accordions {
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.wrapper {
  display: grid;
  grid-template-rows: 0fr;
  //transition de hauteur pour faire apparaitre le contenu
  transition: all 0.5s ease-in-out;
  &.is-open {
    grid-template-rows: 1fr;
    & > .accordion-content {
      padding: 20px;
      height: 140px;
    }
  }
}
.accordion-title {
  border-radius: 5px;
  background-color: #ff6060;
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%; /* 25.668px */
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  padding: 10px 15px;
}

.accordion-content {
  /*padding: 20px 20px;*/
  border-radius: 5px;
  background: var(--Gray, #f6f6f6);
  color: #ff6060;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 142.6%; /* 25.668px */
  overflow: hidden;
}

.arrow-down {
  cursor: pointer;
  position: relative;
  top: 10px;
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border-right: 0.2em solid white;
  border-top: 0.2em solid white;
  transform: rotate(135deg);
  margin-right: 0.5em;
  margin-left: 1em;
  //transition de rotation pour faire arrow-up
  transition: transform 0.5s ease-in-out;
}
.arrow-up {
  cursor: pointer;
  position: relative;
  top: 10px;
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border-right: 0.2em solid white;
  border-top: 0.2em solid white;
  transform: rotate(-45deg);
  margin-right: 0.5em;
  margin-left: 1em;
  //transition de rotation pour faire arrow-down
  transition: transform 0.5s ease-in-out;
}

@media (max-width: 768px) {
  .accordions {
    margin-left: 0px;
    margin-right: -10px;
    margin-top: 0px;
  }
  .accordion {
    width: 100%;
  }
}
