@import "./mixin.scss";

.banner {
  @include banner;
  background-image: url("../images/adventure.png");
  &__2 {
    @include banner;
    background-image: url("../images/mountain.png");
  }
  &__location {
    @include banner;
    background-image: url("../images/location.svg");
  }
}
