@import "./mixin.scss";

.banner {
  @include banner;
  background-image: url("../images/adventure.png");
  color: #fff;
  opacity: 80;
  &__2 {
    @include banner;
    background-image: url("../images/mountain.png");
    filter: brightness(0.8);
  }
  &__location {
    @include banner;
    width: calc(100% - 140px);
    object-fit: cover;
    margin-bottom: 1em;
    height: 400px;
  }
}

@media (max-width: 768px) {
  .banner {
    height: 17vh;
    margin-top: 3vh;
    margin-bottom: 0;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-left: 5vw;
    padding-right: 11vw;
    font-size: 1.6em;

    &__2 {
      margin-left: 5vw;
      margin-right: 5vw;
      margin-top: 3vh;
      height: 20vh;
    }
    &__location {
      margin-left: 5vw;
      margin-right: 5vw;
      width: 90%;
      margin-bottom: 0.2em;
      margin-top: 0.5em;
      height: 300px;
    }
  }
}
