@import "./mixin.scss";

.banner {
  @include banner;
  background-image: url("../images/adventure.png");
  &__2 {
    @include banner;
    background-image: url("../images/mountain.png");
  }
  &__location {
    @include banner;
    width: 93%;
    object-fit: cover;
    margin-bottom: 1em;
  }
}

@media (max-width: 768px) {
  .banner {
    margin-left: 20px;
    margin-right: 10px;
    &__2 {
      margin-left: 20px;
      margin-right: 10px;
    }
    &__location {
      margin-left: 20px;
      margin-right: 10px;
      width: 90%;
      margin-bottom: 0.2em;
      margin-top: 0.5em;
    }
  }
}
