.article {
  border-radius: 10px;
  overflow: hidden;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  background-color: #ff6060;
  grid-area: span 1 / span 1;
  height: 22.5vw;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); /* Noir avec 50% d'opacité */
  }
  &-title {
    color: #fff;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
    /* position en bas à gauche de chaque article */
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
  }
}
.articles {
  border-radius: 25px;
  background: #f6f6f6;
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3vw 7vw;
  margin-left: 70px;
  margin-right: 70px;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 5vw;
  padding-bottom: 4vw;
}

@media (max-width: 768px) {
  .articles {
    margin-left: 0;
    margin-right: 0;
    background-color: #ffffff;
    margin-top: 0;
    grid-template-columns: repeat(1, 1fr);
  }
  .article {
    margin-top: 1vh;
    margin-bottom: 1em;
    height: 60vw;
  }
}
