.footer-container {
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.home + .footer-container {
  position: relative;
}

@media (max-width: 768px) {
  .footer-container {
    position: relative;
    width: 104%;
    &__copyrights {
      text-align: center;
      margin-left: 8em;
      margin-right: 8em;
      margin-bottom: 1em;
    }
  }
}
