.header {
  display: flex;
  justify-content: space-between;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 50px;

  &__nav ul {
    display: flex;
    list-style: none;
  }

  &__nav li {
    margin-left: 40px;
  }

  &__nav a {
    color: #ff6060;
    text-decoration: none;
    color: #ff6060;
    text-align: right;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%; /* 34.224px */
  }

  &__nav {
    display: flex;
    justify-items: center;
    align-items: center;
  }

  & .active {
    text-decoration: underline;
  }
}

@media (max-width: 768px) {
  .header {
    margin-left: 7vw;
    margin-right: 7vw;
    margin-top: 20px;
    &__logo img {
      width: 150px;
    }
    &__nav {
      margin-left: -10px;
      & li {
        margin-left: 20px;
      }
      & a {
        font-size: 16px;
      }
    }
  }
}
