@import "./mixin.scss";

.location-info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 70px;
  margin-right: 70px;

  & > p {
    color: #ff6060;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%; /* 25.668px */
    margin-top: -1.5em;
  }
  & .accordion {
    width: 45%;
  }
}

.location-presentation {
  margin-top: -30px;
}

.location-title {
  color: #ff6060;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%; /* 51.336px */
  margin-top: 0.5em;
}

.location-accordions {
  margin-top: -1em;
  & .accordion-title {
    font-size: 18px;
  }
}

.picture {
  background-color: #c4c4c4;
  border-radius: 50%;
  width: 64px;
}

.landlord {
  display: flex;
  align-items: center;
  color: #ff6060;
  text-align: right;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%; /* 25.668px */
  & > p {
    margin-right: 10px;
    width: 4em;
  }
}

.list-info {
  margin-left: -40px;
  margin-top: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
  & > li {
    margin-right: 10px;
    padding: 3px 40px;
    border-radius: 10px;
    background: #ff6060;
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%; /* 19.964px */
  }
}

.list-equipements {
  margin-left: -40px;
  margin-top: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: left;
  list-style-type: none;
}

.star {
  font-size: 32px;
  margin-left: 10px;
  &,
  .filled {
    color: red;
  }
  &,
  .empty {
    color: #ff6060;
  }
}

.error-title {
  @include error;
  font-size: 188px;
  font-weight: 700;
  margin-top: 30px;
}

.error-description {
  @include error;
  font-size: 34px;
  margin-top: -100px;
  margin-bottom: 225px;
}

.error-link {
  @include error;
  margin-top: 10px;
  text-decoration: underline;
  margin-left: 850px;
}

.arrow-diaporama {
  border: solid white;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 15px;
  position: absolute;
  top: 350px;
  cursor: pointer;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right: 90px;
  z-index: 10;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  left: 90px;
  z-index: 10;
}

.banner-text {
  position: absolute;
  top: 500px;
  left: 50%;
  color: white;
  z-index: 10;
  font-size: 20px;
}

.rating {
  margin-top: -15px;
}

@media (max-width: 768px) {
  .location-info {
    margin-left: 20px;
    margin-right: 10px;
    margin-top: -1em;
    & > p {
      position: absolute;
      top: 28em;
    }
    & .accordion {
      margin-top: -0.5em;
      width: 95%;
      & + .accordion {
        margin-bottom: 2em;
        margin-top: 0.5em;
      }
    }
    & .accordion-content {
      flex-direction: column;
      align-items: center;
    }
  }

  .location-presentation {
    margin-top: 0;
  }

  .location-title {
    margin-top: 0;
    font-size: 24px;
  }

  .location-accordions {
    padding-top: 13em;
    display: flex;
    flex-direction: column;
    & .accordion-title {
      font-size: 14px;
    }
  }

  .picture {
    width: 32px;
  }

  .list-info {
    position: absolute;
    top: 32em;
    margin-left: -2.5em;
    margin-bottom: 4em;
    flex-flow: row wrap;
    & > li {
      margin-right: 1em;
      margin-bottom: 10px;
      padding: 3px 20px;
      border-radius: 10px;
      background: #ff6060;
      color: #fff;
      text-align: center;
      font-family: Montserrat;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 142.6%; /* 19.964px */
    }
  }

  .error-title {
    font-size: 100px;
    margin-top: 4vh;
  }
  .landlord {
    position: absolute;
    top: 30.5em;
    left: 13.5em;
    z-index: 100;
    & p {
      margin-right: 0.5em;
      line-height: 1em;
    }
  }

  .banner-text {
    display: none;
  }

  .arrow-diaporama {
    padding: 9px;
    top: 14em;
  }
  .left {
    left: 3em;
  }
  .right {
    right: 3em;
  }
  .star {
    position: absolute;
    top: 21.8em;
    left: 0.5em;
    font-size: 26px;
    z-index: 100;
  }
  .star + .star {
    left: 1.5em;
  }
  .star + .star + .star {
    left: 2.5em;
  }
  .star + .star + .star + .star {
    left: 3.5em;
  }
  .star + .star + .star + .star + .star {
    left: 4.5em;
  }

  .error-description {
    font-size: 24px;
    padding-left: 8vw;
    padding-right: 8vw;
    margin-top: 0;
    margin-bottom: 4vh;
  }

  .error-link {
    margin-left: 22vw;
  }
}
