@mixin banner() {
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 4vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 23vh;
  border-radius: 25px;
  mix-blend-mode: darken;
  color: #fff;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%; /* 68.448px */
  letter-spacing: 0.05em;
  /* aligner verticalement texte */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin error() {
  color: #ff6060;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%; /* 25.668px */
}
